
div.herotext{
  text-align: center;
  display: none;
  min-height: 160px;
  background-color: #dae8de;
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #225560;
    display: inline;
    line-height: 160px;
  }
  img {
    margin-bottom: 20px;
    height: 100px;
  }
}

div.heroimage{
  display: block;
  height:50%;
  background-color: #3a8db0;
  img {
    display: block;
    width: 94%;
    margin: 0 auto;
  }
}

div.homepage {
  background: #225560;
}

div.stepsbanner{
  min-height: 145px;
  background-color: #225560;
  ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    li {
      margin: 10px 50px;
      display: inline-block;
      color: white;
      font-weight: 400;
      font-size: 20px;
      max-width: 240px;
      img {
        height: 50px;
      }
      p {
        margin-top: 10px;
        font-size: 20px;
      }
    }
  }
}

div.homepage {
  h1  {
    text-align: center;
    margin-top: 200px;
  }
  ul {
    margin: 0;
  }
}
//
// ul.homeforms {
//   margin-top: 100px;
//   padding: 0;
//   list-style-type: none;
//   text-align: center;
//   li {
//     vertical-align: top;
//     display: inline-block;
//     width: 40%;
//     margin: 0 40px;
//   }
// }
