div.profilepage {
  margin-top: 20px;
  div.profilecolumns {
    color: black;
    text-align: center;
    min-height: 100px;
    // border-radius: 10px;
    h2 {
      padding: 10px;
    }
    ul {
      li {
        color: white;
        margin: 10px 10px;
        height: 60px;
        background: #70A8b5;
        // border-radius: 20px;
        border: 1px solid black;
        p {
          float: left;
          display: inline;
          line-height: 60px;
          font-size: 16px;
          margin-left: 10px;
        }
        div.img {
          width: 75px;
          height: 58px;
          float: right;
          margin-top: 0;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          // border-radius: 0 20px 20px 0;
        }
      }
      li.winning {
        background: #548c64;
      }
      li.losing {
        background: #c16868;
      }
      li.finished {
        background: #c16868;
      }
      li.success {
        background: #225560;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    img {
      width: 100%;
      border: 2px ridge #225560;
      // border-radius: 50px;
      max-width: 250px;
    }
  }
  ul {
    li {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
