<h1 class="heading">{{users.user.full_name}}</h1>
<div class="profilepage">
  <div class="profilecolumns">
    <img ng-src="{{users.user.profile_img}}" alt="{{users.user.full_name}}" />
  </div>

  <div class="col-md-4">
    <div class="profilecolumns two">
      <h2>Your Auctions</h2>
      <ul >
        <li class="auctionsdata" ng-repeat="auction in users.user.auctions" ui-sref="auctionsShow({ id: auction.id })" ng-class="auction.status">
          <p>
            {{auction.title}}
          </p>
          <div style="background-image:url({{auction.auction_img}})" class="img">
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="profilecolumns three">
      <h2>Your Live Bids</h2>
      <ul >
        <li class="bidsdata" ng-repeat="bid in users.user.bids" ui-sref="auctionsShow({ id: bid.auction.id })" ng-if="(bid.auction.status == 'live')" ng-class="(bid.auction.high_bid_user_id == main.user.id) ? 'winning' : 'losing'">
          <p>
            {{bid.auction.title}} : £{{bid.amount}}0
          </p>
          <div style="background-image:url({{bid.auction.auction_img}})" class="img">
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="profilecolumns three">
      <h2>Successful Bids</h2>
      <ul >
        <li class="bidsdata success" ng-repeat="bid in users.user.bids" ui-sref="auctionsShow({ id: bid.auction.id })" ng-if="((bid.auction.status == 'finished') && (bid.auction.high_bid_user_id == main.user.id))">
          <p>
            {{bid.auction.title}} : £{{bid.amount}}0
          </p>
          <div style="background-image:url({{bid.auction.auction_img}})" class="img">
          </div>
        </li>
      </ul>
    </div>
  </div>


</div>
