<h1 class="heading">{{users.user.full_name}}</h1>
<div class="profilepage container">
  <div class="col-md-4 profilecolumns one">
    <img ng-src="{{users.user.profile_img}}" alt="{{users.user.full_name}}" />
  </div>

  <div class="col-md-4">
    <div class="profilecolumns two">
      <h2>Your auctions</h2>
      <ul >
        <li class="auctionsdata" ng-repeat="auction in users.user.auctions" ui-sref="auctionsShow({ id: auction.id })">
          <p>
            {{auction.title}}
          </p>
          <img ng-src="{{auction.auction_img}}" alt="" />
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="profilecolumns three">
      <h2>Your bids</h2>
      <ul >
        <li class="bidsdata" ng-repeat="bid in users.user.bids" ui-sref="auctionsShow({ id: bid.auction.id })">
          <p>
            {{bid.auction.title}} : £{{bid.amount}}
          </p>
          <img ng-src="{{bid.auction.auction_img}}" alt="" />
        </li>
      </ul>
    </div>
  </div>


</div>
