<div class="editalot">
  <h1 class="heading">Edit a lot</h1>
  <form class="add-auction" ng-submit="auctions.update()">
    <div class="form-group">
      <label>Title</label>
      <input ng-model="auctions.auction.title" class="form-control">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea ng-model="auctions.auction.description" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Image</label><br>
      <input ng-model="auctions.auction.auction_img" class="form-control">
    </div>
    <div class="form-group">
      <label>Reserve</label><br>
      £<input ng-model="auctions.auction.reserve" type="number" min="1.00" step="1.00" max="2500"/>
    </div>
    <input type="submit" value="Update" class="btn btn-primary">
    <a href="javascript:history.back()"><input type="button" value="Cancel" class="btn btn-default"></a>
  </form>
</div>
