<h1 class="heading" ng-cloak>{{ auctions.auction.title }}</h1>

<div class="auctionshow">
  <div class="bidinfo">
    <div class="topbidbit" ng-cloak>
      <div class="column col-md-4">
        <h3>The Lot</h3>
        <img class="mainimg" ng-src="{{ auctions.auction.auction_img }}">
        <ul>
          <li><p ng-cloak>{{auctions.auction.description}}</p></li>
        </ul>

      </div>
      <div class="column col-md-4 charityinfo">
        <h3>The Charity</h3>
        <ul>
          <li><h4 ng-cloak>{{auctions.charity.charityDisplayName}}</h4></li>
          <li><p class="charityblurb" ng-cloak>{{auctions.charity.description}}</p></li>
          <li><img id="charity-image" ng-src="{{auctions.charity.logoUrl}}" alt="" /></li>
        </ul>
      </div>
      <div class="column col-md-4">
        <h3>Uploader</h3>
        <img class="mainimg" ng-src="{{auctions.auction.user.profile_img}}" alt="{{auctions.auction.user.username}}" />
        <p>
          {{auctions.auction.user.full_name}}
        </p>
      </div>
    </div>
    <div class="showbuttons">
      <ul ng-cloak ng-hide="auctions.auction.length" class="list-inline nav-buttons">

        <li ng-show="(main.user.id == auctions.auction.user.id)"><a ng-cloak class="twitter-share-button edit"  ui-sref="auctionsEdit({id: auctions.auction.id})">Edit</a></li>
        <li ng-show="(main.user.id == auctions.auction.user.id)" id="delete-button" ><a ng-cloak class="twitter-share-button delete"  ng-click="auctions.delete()">Delete</a></li>
        <li ng-hide="auctions.hideTimer"><a href="https://twitter.com/share?text=Please+bid+on+this+lot+to+help+raise+money+for+{{auctions.charity.charityDisplayName}}!" target="blank" class="twitter-share-button" data-show-count="false">Tweet</a></li>
      </ul>
    </div>

  </div>



  <div class="middlesection">
    <div ng-hide="auctions.hideTimer">
      <h2 class="clockheader" ng-hide="(main.user.id == auctions.auction.user.id)">This auctions runs out in:</h2>
      <h2 class="clockheader" ng-show="(main.user.id == auctions.auction.user.id)">Your auction runs out in:</h2>
      <timer class="timer" end-time="auctions.timerDate" interval="1000" finish-callback="auctions.timerDone()">{{days}} days | {{hours}} hours | {{minutes}} minutes | {{seconds}} seconds</timer>
    </div>
    <div ng-show="auctions.hideTimer">
      <h2 class="expiredmessage clockheader" ng-hide="(auctions.auction.bids[0].user.id == main.user.id)" class="clockheader expired">This auction has now expired</h2>
      <h2 ng-show="(auctions.auction.bids[0].user.id == main.user.id)" class="clockheader">Congratulations {{auctions.auction.bids[0].user.first_name}}!</h2>
      <p class="winnerinfo" ng-show="(auctions.auction.bids[0].user.id == main.user.id)">Your bid won this auction. An email has been sent to {{auctions.auction.bids[0].user.email}} with details on how to collect the lot and pay {{auctions.charity.charityDisplayName}}</p>
    </div>
  </div>

  <!-- <div id="clockdiv">
  <div>
  <span class="days"></span>
  <div class="smalltext">Days</div>
</div>
<div>
<span class="hours"></span>
<div class="smalltext">Hours</div>
</div>
<div>
<span class="minutes"></span>
<div class="smalltext">Minutes</div>
</div>
<div>
<span class="seconds"></span>
<div class="smalltext">Seconds</div>
</div>
</div>
</div> -->


<div ng-hide="auctions.hideTimer" class="bidslist">
  <h2>Bids</h2>
  <ul class="bidsbelow" ng-show="auctions.highBid">
    <li ng-repeat="bid in auctions.auction.bids">
      <ul class="eachbid">
        <li>£{{bid.amount}}0</li>
        <li>{{bid.user.first_name}} {{bid.user.last_name}}</li>
        <li>{{bid.user.full_name}}</li>
      </ul>
    </li>
  </ul>
  <h3 ng-hide="auctions.highBid">No bids on this lot yet!</h3>

  <div ng-if="((main.user.id !== auctions.auction.user.id) && (main.user.id !== auctions.highBid.user.id))">
    <h2>Place a bid!</h2>
    <form class="" ng-submit="auctions.placeBid()">
      <div class="form-group">
        £<input id="bidbox" ng-model="auctions.bid.amount" type="number" min="{{auctions.bidMinimum}}" step="1.00" max="2500"/>
      </div>
      <input class="bidbutton" type="submit" value="Bid!">
    </form>
  </div>

  <div ng-if="((main.user.id !== auctions.auction.user.id) && (main.user.id === auctions.highBid.user.id))" ng-show="auctions.highBid">
    <h2>You currently have the highest bid!</h2>
  </div>
</div>
</div>



</div>
