@import "bower";

div.profilepage {
  margin-top: 20px;
  div.profilecolumns {
    color: black;
    text-align: center;
    min-height: 100px;
    border-radius: 10px;
    h2 {
      padding: 10px;
    }
    ul {
      li {
        color: white;
        margin: 10px 10px;
        height: 60px;
        background: #8dba9a;
        border-radius: 20px;
        p {
          float: left;
          display: inline;
          line-height: 60px;
          font-size: 16px;
          margin-left: 10px;
        }
        img {
          height: 60px;
          width: auto;
          float: right;
          margin-top: 0;
          border-radius: 0 20px 20px 0;
        }
      }
      li.bidsdata {
        background: #548c64;
      }
    }
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    img {
      width: 100%;
      max-width: 250px;
      margin-top: 50px;
    }
  }
  ul {
    li {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

div.column {
  min-height: 300px;
}

div.bidinfo {
  display: block;
  width: 100%;
  text-align: center;
  // border: 1px solid black;
  background-color: #dae8de;
  min-height: 300px;
  padding: 10px;
  padding-bottom: 20px;
  p {
    text-align: left;
    &.charityblurb {
      text-align: justify;
    }
  }
  h3 {
    text-transform: uppercase;
    padding: 8px;
    background-color: #225560;
    color: white;
    margin-bottom: 5px;
    border-radius: 10px;
    font-weight: 100;
  }
  img.mainimg {
    margin-right: 5px;
    width: 50%;
    height: auto;
    max-width: 240px;
    float: left;
    border-radius: 10px;
  }
  div.topbidbit {
    display: block;
    min-height: 340px;
  }
  div.showbuttons {
    display: block;
    text-align: center;
    a.twitter-share-button{
      border: 2px solid #225560;
      padding: 5px 10px;
      font-size: 20px;
      text-transform: uppercase;
      color: #225560;
      letter-spacing: 2px;
      font-family: 'Lato';
      text-decoration: none !important;
      &:hover {
        background: #4099ff;
        color: white;
        text-decoration: none;
        transition: 0.2s all;
      }
      &.edit {
        &:hover {
          background: #456b49;
        }
      }
      &.delete {
        &:hover {
          background: #c43d4b;
        }
      }
    }
  }
}


h2.clockheader {
  text-align: center;
  padding: 10px;
}

div.bidslist {
  background-color: #dae8de;
  text-align: center;
  padding-bottom: 20px;
  h2 {
    margin-top: 10px;
    padding: 10px;
  }
  li {
    margin: 0 auto;
    ul.eachbid {
      margin: 10px 100px;
      padding: 10px;
      border-radius: 15px;
      background: #225560;
      color: white;
      font-size: 18px;
    }
  }
  input.bidbutton {
    background:none;
    border: 2px solid #225560;
    padding: 5px 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: #225560;
    letter-spacing: 2px;
    font-family: 'Lato';
    text-decoration: none !important;
    &:hover {
      background: #456b49;
      transition: 0.2s all;
      color: white;
      text-decoration: none;
    }
  }
}


div.middlesection {
  display: block;
  min-height: 230px;
}

#clockdiv{
  background: #225560;
  width: 33%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  font-family: sans-serif;
  color: #225560;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px #225560;
  & > div{
    padding: 10px;
    border-radius: 3px;
    background: #225560;
    display: inline-block;
  }
  & div {
    & span{
      width: 52px;
      padding: 15px;
      border-radius: 3px;
      background: #dae8de;
      display: inline-block;
    }
  }
  .smalltext{
    color: #dae8de;
    padding-top: 5px;
    font-size: 12px;
  }
}

body {
  background: #f4f8f9;
  font-family: 'Raleway', sans-serif;
}

a.navbar-brand:hover{
  opacity: 0.8;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
  font-family: "Raleway", cursive;
}

h1.heading {
  text-transform: uppercase;
  text-shadow: 0 0 3px #225560;
  text-align: center;
  padding: 10px;
  color: white;
  background: #70a8b5;
  font-weight: 700;
}

div.auctionshow {
  ul {
    list-style-type: none;
    padding: 0;
  }
}


div.auctionsindex{
  margin-top: 20px;
  ul {
    padding: 0;
    list-style-type: none;
    li {
      margin: 10px 0;
      padding: 10px;
      border-radius: 10px;
      min-height: 170px;
      &:hover {
        cursor: pointer;
      }
      img {
        height: 150px;
        width: auto;
        float: right;
      }
      &:hover {
        box-shadow: 0 0 5px #225560;
      }
      .text {
        // float: left;
        h1 {
          font-size: 18px;
          text-transform: uppercase;
        }
        h3 {
          text-align: left;
          font-size: 14px;
        }
      }
    }
  }
}

form.loginregister {
  margin-top: 80px;
}

div.herotext{
  text-align: center;
  display: none;
  min-height: 160px;
  background-color: #dae8de;
  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #225560;
    display: inline;
    line-height: 160px;
  }
  img {
    margin-bottom: 20px;
    height: 100px;
  }
}

div.heroimage{
  display: block;
  height:50%;
  background-color: #3a91b0;
  img {
    display: block;
    width: 94%;
    margin: 0 auto;
  }
}

div.homepage {
  background: #225560;
}

div.stepsbanner{
  min-height: 145px;
  background-color: #225560;
  ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    li {
      margin: 10px 50px;
      display: inline-block;
      color: white;
      font-weight: 400;
      font-size: 20px;
      max-width: 240px;
      img {
        height: 50px;
      }
      p {
        margin-top: 10px;
        font-size: 20px;
      }
    }
  }
}

main {
  font-family: 'Lato', cursive;
}

img#charity-image {
  max-height: 90px;
}

div.homepage {
  h1  {
    text-align: center;
    margin-top: 200px;
  }
  ul {
    margin: 0;
  }
}

ul.homeforms {
  margin-top: 100px;
  padding: 0;
  list-style-type: none;
  text-align: center;
  li {
    vertical-align: top;
    display: inline-block;
    width: 40%;
    margin: 0 40px;
  }
}

header {
  nav {
    &.navbar.navbar-invert {
      background-color: #225560 !important;
      color: white;
      margin-bottom: 0;
      a {
        background-color: #225560 !important;
      }
    }
  }
  a.nav-bar-links {
    color: white;
    font-size: 16px;
    &:hover {
      color: #70A8B5;
      background-color: transparent;
    }
    &:active {
      background-color: transparent;
    }
  }
  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  .navbar-toggle .icon-bar {
    display: block;
    width: 26px;
    height: 4px;
    margin-top: 10px;
    border-radius: 1px;
    background-color: white; /* change this to any color you want! */;
  }
  background: #333;
  #mobile-logo {
    display: none;
  }
  a.navbar-brand {
    background: white;
    font-size: 36px;
    color: black;
    height: 80px;
    line-height: 80px;
    padding: 0;
    img {
      height: 100%;
      vertical-align: middle;
    }
  }
  .navbar-nav li a {
    line-height: 50px;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  #clockdiv{
    width: 90%;
  }
  div.herotext{
    display: block;
    padding: 160px 0;
    h1 {
      font-size: 50px;
      line-height: 80px;
    }
    img {
      margin-bottom: 20px;
      height: 90px;
    }
  }
  div.heroimage {
    display: none;
  }
  div.auctionsindex{
    ul {
      text-align: center;
      li {
        display: block;
        width: 100%;
        margin: 10px 0;
        img {
          height: auto;
          width: 100%;
          float: none;
        }
        div.text{
          float: none;
          h1 {
            font-size: 24px;
            text-transform: uppercase;
          }
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    a {
      padding: 0;
      text-transform: uppercase;
      text-decoration: underline;
      font-weight: 500;
    }
  }
  ul.homeforms {
    margin-top: 15px;
    li {
      margin: 20px;
      margin-top: 50px;
      display: block;
      width: 90%;
    }
  }
  div.profilepage {
    margin-top: 20px;
    div.profilecolumns {
      img {
        margin-top: 5px;
      }
    }
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
  a#active-logo{
    display: none;
  }
  a#menu-toggle, #sidebar-nav {
    display: none;
  }
  a#mobile-logo {
    display: inline;
  }
  footer {
    display: none;
  }
}


footer {
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #225560;
  h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 50px;
    color: white;
  }
}

div.addalot {
  margin-top: 20px;
}
