<div class="homepage">

<ul class="homeforms">
  <li class="loginform">
    <div>
    <form ng-submit="home.login()" id="formOne">
      <div class="form-group">
        <input class="form-control" type="email" name="email" ng-model="home.userLogin.email" placeholder="Email">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" ng-model="home.userLogin.password" placeholder="Password">
      </div>
      <input class="btn btn-primary" type="submit" value="Login">
    </form>
  </div>
  </li>
  <li class="registerform">
    <div >
      <form ng-submit="home.register()" id="formTwo">
        <div class="form-group">
          <input class="form-control" type="text" name="username" ng-model="home.userRegister.username" placeholder="Username">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="firstName" ng-model="home.userRegister.first_name" placeholder="First name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="lastName" ng-model="home.userRegister.last_name" placeholder="Last name">
        </div>
        <div class="form-group">
          <input class="form-control" type="email" name="email" ng-model="home.userRegister.email" placeholder="Email">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="password" ng-model="home.userRegister.password" placeholder="Password">
        </div>
        <div class="form-group">
          <input class="form-control" type="password" name="passwordConfirmation" ng-model="home.userRegister.password_confirmation" placeholder="Password confirmation">
        </div>
        <input class="btn btn-primary" type="submit" value="Register" />
      </form>
    </div>
  </li>
</ul>




</div>
