<div class="homepage">
  <h1>Hello</h1>
  <form ng-submit="home.login()" id="formOne" class="col-md-5 push-md-5 pull-right">
              <div class="form-group">
                <input class="form-control" type="email" name="email" ng-model="home.userLogin.email" placeholder="Email">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password" ng-model="home.userLogin.password" placeholder="Password">
              </div>
              <input class="btn btn-primary" type="submit" value="Login">
            </form>

</div>
