<div class="homepage">

<div class="herotext">
  <h1>Welcome to </h1><img src="../images/Green-logo.png" alt="" />
</div>

<div class="heroimage">
  <img src="../images/bidup_home.png" alt="hero" />
</div>

<div class="stepsbanner">
  <ul>
    <li>
      <img src="../images/magnifying_glass.png" alt="find-deals" />
      <p>
        Find things you want and make a bid!
      </p>
    </li>
    <li>
      <img src="../images/upload-items.png" alt="find-deals" />
      <p>
        Upload things for friends and followers to bid on!
      </p>
    </li>
    <li>
      <img src="../images/charity-proceeds.png" alt="find-deals" />
      <p>
        All proceeds go to charity!
      </p>
    </li>
  </ul>
</div>

<footer ng-hide="main.user">
  <h3>&copy; Johnnie de La Moriniere</h3>
</footer>

</div>
